In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv('data/train_to_download_final_1.csv')
df.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

# Предобработка
По мере реализации проекта перенесем предобработку в отдельные файлы

### Названия столбцов
Названия у столбцов конечно интересные, однако, в реальности они очень мешают. Так-что будем, по мере понимая содержания сталюцов, заменять их на более адекватные и короткие.

In [60]:
df = df.rename(columns={"galactic year": "year", "galaxy": "country"})
df.head(2)

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.74247,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868

### Формат даты

In [61]:
df['year'].unique()

array([ 990025,  991020,  992016,  993012,  994009,  995006,  996004,
        997002,  998001,  999000, 1000000, 1001000, 1002001, 1003002,
       1004004, 1005006, 1006009, 1007012, 1008016, 1009020, 1010025,
       1011030, 1012036, 1013042, 1014049, 1015056], dtype=int64)

Если присмотреться к датам и немного подумать, то приходишь к выводу о том, что первые 3 цифры + 1000 = год н.э. Например 990025 => 1000 + 990 => 1990. А так-как мы имеем дело с макроэкономическими показателями, то последние 2 цифры можно отбросить.

In [62]:
df['year'] = df['year']//1000+1000
df.head()

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,1990,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,1990,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,1990,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,1990,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,1990,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

# Черновик

In [63]:
df_test = pd.read_csv('data/test_to_download_final_1.csv')
df_test = df_test.rename(columns={"galactic year": "year", "galaxy": "country"})
df_test['year'] = df_test['year']//1000+1000
df_test.head()

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,2007,KK98 77,0.456086,51.562543,12236.576447,0.593325,10.414164,10.699072,0.547114,0.556267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007,Reticulum III,0.529835,57.228262,3431.883825,0.675407,7.239485,5.311122,0.497688,0.409969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,Reticulum III,0.560976,59.379539,27562.914252,0.594624,11.774890,5.937797,0.544744,0.486167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007,Segue 1,0.565910,59.952390,20352.232905,0.837700,11.613621,10.067882,0.691641,0.523441,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,Virgo I,0.588274,55.428320,23959.704016,0.520579,10.392416,6.374637,0.530676,0.580418,...,7.357729,0.583373,0.600445,0.856158,206.674424,224.104054,NaN,7.687626,NaN,NaN

In [67]:
df[df['country']=='Large Magellanic Cloud (LMC)']

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,1990,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
194,1991,Large Magellanic Cloud (LMC),0.627245,62.389059,17114.109182,0.503198,9.317262,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052115
410,1992,Large Magellanic Cloud (LMC),0.662135,68.794245,13225.033915,0.692653,8.030645,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052006
543,1993,Large Magellanic Cloud (LMC),0.687776,62.848660,9116.133706,0.667264,11.347429,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051675
765,1994,Large Magellanic Cloud (LMC),0.727717,67.482431,3598.172394,0.609830,10.402265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051334
1053,1995,Large Magellanic Cloud (LMC),0.801878,64.024931,30050.765207,0.560245,8.811260,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051056
1244,1996,Large Magellanic Cloud (LMC),0.727336,61.110448,16921.403977,0.731106,9.915121,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050473
1411,1997,Large Magellanic Cloud (LMC),0.751123,71.737634,14009.050465,0.695900,9.231937,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050179
1570,1998,Large Magellanic Cloud (LMC),0.817002,67.396675,12586.331228,0.675266,8.640981,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049803
1758,1999,Large Magellanic Cloud (LMC),0.765157,68.828983,18638.673092,0.605786,9.540513,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049484
1833,2000,Large Magellanic Cloud (LMC),0.820034,71.804603,21048.858683,0.612216,11.263948,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049185
2015,2001,Large Magellanic Cloud (LMC),0.702311,68.111525,14334.420826,0.722256,9.684950,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048314
2274,2002,Large Magellanic Cloud (LMC),0.728519,69.722603,20028.321235,0.787673,12.043517,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047988
2421,2003,Large Magellanic Cloud (LMC),0.776939,75.038383,19026.152154,0.673346,12.649409,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047607
2611,2004,Large Magellanic Cloud (LMC),0.756422,76.167342,22050.589590,0.909053,13.051400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047392
2846,2005,Large Magellanic Cloud (LMC),0.883358,81.251875,21785.494822,0.767434,14.378038,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,NaN,NaN,NaN,NaN,NaN,NaN,0.047043
2891,2006,Large Magellanic Cloud (LMC),0.881534,70.398402,17220.027191,0.823692,12.883945,4.533346,0.753770,0.549646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046172
3679,2013,Large Magellanic Cloud (LMC),0.814879,83.287364,16453.884262,0.899114,14.376047,6.873462,0.769918,0.538083,...,0.752930,0.781343,0.987191,156.177926,157.805539,31.506926,NaN,NaN,0.698595,0.031641
3770,2014,Large Magellanic Cloud (LMC),0.874476,73.896443,24825.701169,0.848819,13.816971,6.697298,0.871930,0.620290,...,0.773306,0.735181,0.976120,151.785369,142.412536,37.517756,NaN,NaN,0.748269,0.031360

In [68]:
df_test[df_test['country']=='Large Magellanic Cloud (LMC)']

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
144,2008,Large Magellanic Cloud (LMC),0.779758,75.346249,19231.348529,0.707828,13.327868,6.806029,0.672352,0.586943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,2015,Large Magellanic Cloud (LMC),0.790034,79.425296,21972.122930,0.831417,17.095940,6.481246,0.686543,0.597843,...,7.608230,0.726385,0.776223,0.967956,164.709313,143.100943,37.541783,NaN,NaN,0.637706
238,2009,Large Magellanic Cloud (LMC),0.844595,73.130032,24127.802732,0.833485,14.733714,6.837942,0.748864,0.643202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,2012,Large Magellanic Cloud (LMC),0.853172,77.321986,27416.106737,0.880479,18.084904,6.901763,0.826286,0.654600,...,5.974166,0.593091,0.699998,1.025146,179.431965,169.977006,51.177074,NaN,NaN,0.764961
309,2007,Large Magellanic Cloud (LMC),0.884930,76.399821,21735.014557,0.877009,13.377857,8.086796,0.738597,0.473309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,2016,Large Magellanic Cloud (LMC),0.890742,84.311153,25033.664800,0.702787,16.539201,4.821879,0.820799,0.597755,...,5.230947,0.732648,0.721877,1.008883,167.884519,158.925840,39.846644,NaN,NaN,0.505578
375,2010,Large Magellanic Cloud (LMC),0.918996,78.142755,28751.348361,0.853777,14.649964,5.930653,0.721419,0.494747,...,4.511014,0.736388,0.713423,0.992057,162.494448,161.464294,43.391708,NaN,NaN,NaN
422,2011,Large Magellanic Cloud (LMC),0.937656,83.695703,21567.525973,0.876733,14.426615,4.763673,0.809155,0.577366,...,5.952772,0.639062,0.703167,0.921881,163.119476,159.863256,43.022405,NaN,NaN,NaN

In [51]:
df[df['country']=='Large Magellanic Cloud (LMC)']

,year,country,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,1990,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
194,1991,Large Magellanic Cloud (LMC),0.627245,62.389059,17114.109182,0.503198,9.317262,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052115
410,1992,Large Magellanic Cloud (LMC),0.662135,68.794245,13225.033915,0.692653,8.030645,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052006
543,1993,Large Magellanic Cloud (LMC),0.687776,62.848660,9116.133706,0.667264,11.347429,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051675
765,1994,Large Magellanic Cloud (LMC),0.727717,67.482431,3598.172394,0.609830,10.402265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051334
1053,1995,Large Magellanic Cloud (LMC),0.801878,64.024931,30050.765207,0.560245,8.811260,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051056
1244,1996,Large Magellanic Cloud (LMC),0.727336,61.110448,16921.403977,0.731106,9.915121,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050473
1411,1997,Large Magellanic Cloud (LMC),0.751123,71.737634,14009.050465,0.695900,9.231937,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050179
1570,1998,Large Magellanic Cloud (LMC),0.817002,67.396675,12586.331228,0.675266,8.640981,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049803
1758,1999,Large Magellanic Cloud (LMC),0.765157,68.828983,18638.673092,0.605786,9.540513,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049484
1833,2000,Large Magellanic Cloud (LMC),0.820034,71.804603,21048.858683,0.612216,11.263948,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049185
2015,2001,Large Magellanic Cloud (LMC),0.702311,68.111525,14334.420826,0.722256,9.684950,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048314
2274,2002,Large Magellanic Cloud (LMC),0.728519,69.722603,20028.321235,0.787673,12.043517,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047988
2421,2003,Large Magellanic Cloud (LMC),0.776939,75.038383,19026.152154,0.673346,12.649409,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047607
2611,2004,Large Magellanic Cloud (LMC),0.756422,76.167342,22050.589590,0.909053,13.051400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047392
2846,2005,Large Magellanic Cloud (LMC),0.883358,81.251875,21785.494822,0.767434,14.378038,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,NaN,NaN,NaN,NaN,NaN,NaN,0.047043
2891,2006,Large Magellanic Cloud (LMC),0.881534,70.398402,17220.027191,0.823692,12.883945,4.533346,0.753770,0.549646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046172
3679,2013,Large Magellanic Cloud (LMC),0.814879,83.287364,16453.884262,0.899114,14.376047,6.873462,0.769918,0.538083,...,0.752930,0.781343,0.987191,156.177926,157.805539,31.506926,NaN,NaN,0.698595,0.031641
3770,2014,Large Magellanic Cloud (LMC),0.874476,73.896443,24825.701169,0.848819,13.816971,6.697298,0.871930,0.620290,...,0.773306,0.735181,0.976120,151.785369,142.412536,37.517756,NaN,NaN,0.748269,0.031360